/*
Error: $color: 'color("teal", "darken-2")' is not a color for `lighten'
        on line 39 of /home/ec2-user/environment/traversy_media/materialize_projects/galappear/scss/components/_variables.scss

34: 
35: // 1. Colors
36: // ==========================================================================
37: 
38: $primary-color: color("teal", "darken-2") !default;
39: $primary-color-light: lighten($primary-color, 15%) !default;
40: $primary-color-dark: darken($primary-color, 15%) !default;
41: 
42: $secondary-color: color("grey", "darken-4") !default;
43: $secondary-color-light: color("grey", "darken-3") !default;
44: $success-color: color("green", "base") !default;

Backtrace:
/home/ec2-user/environment/traversy_media/materialize_projects/galappear/scss/components/_variables.scss:39
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/script/tree/funcall.rb:315:in `reformat_argument_error'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/script/tree/funcall.rb:162:in `rescue in _perform'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/script/tree/funcall.rb:131:in `_perform'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:482:in `visit_variable'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/stack.rb:135:in `with_frame'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:162:in `visit'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:161:in `visit'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/exec/base.rb:52:in `parse'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/rvm/gems/ruby-2.5.0/gems/sass-3.5.6/bin/scss:13:in `<top (required)>'
/usr/local/rvm/gems/ruby-2.5.0/bin/scss:23:in `load'
/usr/local/rvm/gems/ruby-2.5.0/bin/scss:23:in `<main>'
/usr/local/rvm/gems/ruby-2.5.0/bin/ruby_executable_hooks:15:in `eval'
/usr/local/rvm/gems/ruby-2.5.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: $color: 'color(\"teal\", \"darken-2\")' is not a color for `lighten'\A         on line 39 of /home/ec2-user/environment/traversy_media/materialize_projects/galappear/scss/components/_variables.scss\A \A 34: \A 35: // 1. Colors\A 36: // ==========================================================================\A 37: \A 38: $primary-color: color(\"teal\", \"darken-2\") !default;\A 39: $primary-color-light: lighten($primary-color, 15%) !default;\A 40: $primary-color-dark: darken($primary-color, 15%) !default;\A 41: \A 42: $secondary-color: color(\"grey\", \"darken-4\") !default;\A 43: $secondary-color-light: color(\"grey\", \"darken-3\") !default;\A 44: $success-color: color(\"green\", \"base\") !default;"; }
