.m-pink {
  background-color: #ee6e73;
}

.m-pink-darken {
  background-color: #ec6066;
}

.m-pink-darken-2 {
  background-color: #ea5259;
}

.m-pink-text {
  color: #ec6066;
}

.slider .btn {
  margin-top: 20px;
}

.btn:hover {
  background-color: #f08084 !important;
}

.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.autocomplete-content {
  position: absolute;
  width: 100%;
  text-align: center;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.section-contact h5{
  margin-bottom: 30px;
}

.section-contact input:focus, textarea:focus {
  border-color: #ee6e73 !important;
  -webkit-box-shadow: 0 1px 0 0 #ee6e73 !important;
  box-shadow: 0 1px 0 0 #ee6e73 !important;
}

.section-contact input:focus + label, textarea:focus + label {
  color: #ee6e73 !important;
}

